<div class="crossword-container">
    <div class="word-container">

      @for( currHint of hints; track $index) {
        @if( $index > 0 ){
            <app-word 
                currHint="{{currHint}}" 
                currGuess="{{defaultGuess}}">
            </app-word>
        } @else {
            <app-word 
                currHint="{{currHint}}" 
                currGuess="{{defaultGuess}}"
                currState="show-hint">
            </app-word>
        }
      } 
      
    </div>
    <div class="keyboard-container">
        @for (keyrow of keyRows; track keyrow) {
            <div class="keyrow">
                @for (letter of keyrow; track letter) {

                    @switch ( letter) {
                        @case ('del') {
                            <button class='keytile special-key'(click)="editGuess(letter)">
                                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20"><path fill="black" d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"></path></svg>
                            </button>
                        }
                        @case ('enter') {
                            <button class='keytile special-key green-key'(click)="attemptGuess()">{{ letter }}</button>
                        }
                        @case ('space') {
                            <div class='keytile-space'></div>
                        }
                        @default {
                            <button type="button" [disabled]="wrongKeyDetected(letter)" class='keytile'(click)="editGuess(letter)">{{ letter }}</button>
                        }
                    }
                }

                
            </div> 
        }
     
    </div>
  </div>
  