<div class="news-section">
    <h1 class="news-header">How to play!</h1>
    <h3 class="sub-header"> You have as many guesses as hints.</h3>
    <br/>
    <app-howto></app-howto>

    <div class="instructions">
        <br/>
        <p>This secret word/phrase is "letters". 
        <br/>
        <br/>The guess was "kettled", causing the tiles to change color.</p>
    </div>

    <ul class="tile-colors">
        <li><span class="green-example">green</span> means correct letter, correct position.</li>
        <li><span class="yellow-example">yellow</span> means correct letter, wrong position!</li>
        <li><span class="red-example">red</span> means wrong letter.</li>  
    </ul>

    <button class="play-btn" routerLink="/game"> Play Game!</button>
    
</div>


 