.news-content, .news-header{
    font-family: 'ubuntu';
    text-align: center;
}

.news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ubuntu';
}